@import 'tailwindcss';
@import '../styles//design-token.css';

body {
  background: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-text-figtree);
}

html {
  scroll-behavior: smooth;
}
